.app-style {
  display: flex;
  align-items: left;
  gap: 12px;
  padding-top: 10px;
}

.square-style {
  width: 280px;
  height: 200px;
  border: 5px solid green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 3px 0px black;
}

.container {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border: 1px solid rgb(204, 202, 202);
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
}

.mytext {
  padding: 10px;
}
